<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>VIEW CONTACTS||Smart Contact User</title>
</head>
<body>
	
	<section>
	
		<div class="card mr-3 ml-3" style="border-radius:10px; background-color: #eeeee4;  
				border: 1px solid rgba(255,255,255,0.3);
  				background: rgba(255,255,255,0.2);
  				border-radius: 15px;
  				box-shadow: 0 4px 30px rgba(0,0,0,0.1);">
			
			<div class="card-body">
				
				<h1 class="text-center text-uppercase text-white font-bold font-weight-bold">Your Contacts</h1>
				
			<!--search-->
			
			<div class="search-container my-4">
				
				<input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="Search your contacts" />
				
				<div class="search-result">
					
					<!--result of search needs to be display here-->
					
				</div>
				
				
			</div>
				
				<div class="table-responsive">
				
				<table class="table table-stripped table-hover table-dark">
					
					<thead class="thead-dark">
						<tr>
							<th scope="col">#ID</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Phone</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="c: ${contacts}">
							<th scope="row" th:text="'SCMUSER'+${c.cId}">1</th>
							<td>
								<img class="my_profile_picture" th:src="@{'/image/'+${c.image}}" alt="profile photo" />
								<span th:text="${c.name}"></span></td>
							<td><a href="#" th:href="@{'/user/contact/'+${c.cId}}"><span th:text="${c.email}"></span></a></td>
							<td th:text="${c.phone}">@moto</td>
							<td>
								
								<a th:onclick="|deleteContact(${c.cId})|" class="btn btn-danger btn-sm">Delete</a>
								
								<form method="POST" th:action="@{'/user/update-contact/'+${c.cId}}">
									<button type="submit" class="btn btn-primary btn-sm mt-3">Update</button>
								</form>
								
							</td>
						</tr>
						
					</tbody>
					
				</table>
				
				</div>
				
				<!--Pagination Part-->
				<nav area-label="Page Navigation Example">
					<ul class="pagination">
						<li th:if="${currentPage != 0}" class="page-item"><a class="page-link" th:href="@{'/user/show-contacts/'+${currentPage-1}}" href="#">Previous</a></li>
						<li th:classappend="${currentPage==i-1?'active':''}" th:each="i:${#numbers.sequence(1,totalPages)}" class="page-item"><a class="page-link" th:href="@{'/user/show-contacts/'+${i-1}}" href="#"><span th:text="${i}"></span></a></li>
						<li th:if="${currentPage+1 != totalPages}" class="page-item"><a class="page-link" th:href="@{'/user/show-contacts/'+${currentPage+1}}" href="#">Next</a></li>
					</ul>
				</nav>
				
			</div>
			
		</div>
		
		<script>
			
			$(document).ready(()=>{
				
				$(".item").removeClass("active");
				$("#contacts-link").addClass("active");
				
			});
			
		</script>
	
	</section>
	
</body>
</html>